# Imports

In [1]:
import pandas as pd
import numpy as np
import os

import plotly.express as px

from math import ceil
from datetime import datetime

In [2]:
# def show_named_plotly_colours():
#     """
#     function to display to user the colours to match plotly's named
#     css colours.

#     Reference:
#         #https://community.plotly.com/t/plotly-colours-list/11730/3

#     Returns:
#         plotly dataframe with cell colour to match named colour name

#     """
#     s='''
#         aliceblue, antiquewhite, aqua, aquamarine, azure,
#         beige, bisque, black, blanchedalmond, blue,
#         blueviolet, brown, burlywood, cadetblue,
#         chartreuse, chocolate, coral, cornflowerblue,
#         cornsilk, crimson, cyan, darkblue, darkcyan,
#         darkgoldenrod, darkgray, darkgrey, darkgreen,
#         darkkhaki, darkmagenta, darkolivegreen, darkorange,
#         darkorchid, darkred, darksalmon, darkseagreen,
#         darkslateblue, darkslategray, darkslategrey,
#         darkturquoise, darkviolet, deeppink, deepskyblue,
#         dimgray, dimgrey, dodgerblue, firebrick,
#         floralwhite, forestgreen, fuchsia, gainsboro,
#         ghostwhite, gold, goldenrod, gray, grey, green,
#         greenyellow, honeydew, hotpink, indianred, indigo,
#         ivory, khaki, lavender, lavenderblush, lawngreen,
#         lemonchiffon, lightblue, lightcoral, lightcyan,
#         lightgoldenrodyellow, lightgray, lightgrey,
#         lightgreen, lightpink, lightsalmon, lightseagreen,
#         lightskyblue, lightslategray, lightslategrey,
#         lightsteelblue, lightyellow, lime, limegreen,
#         linen, magenta, maroon, mediumaquamarine,
#         mediumblue, mediumorchid, mediumpurple,
#         mediumseagreen, mediumslateblue, mediumspringgreen,
#         mediumturquoise, mediumvioletred, midnightblue,
#         mintcream, mistyrose, moccasin, navajowhite, navy,
#         oldlace, olive, olivedrab, orange, orangered,
#         orchid, palegoldenrod, palegreen, paleturquoise,
#         palevioletred, papayawhip, peachpuff, peru, pink,
#         plum, powderblue, purple, red, rosybrown,
#         royalblue, saddlebrown, salmon, sandybrown,
#         seagreen, seashell, sienna, silver, skyblue,
#         slateblue, slategray, slategrey, snow, springgreen,
#         steelblue, tan, teal, thistle, tomato, turquoise,
#         violet, wheat, white, whitesmoke, yellow,
#         yellowgreen
#         '''
#     li=s.split(',')
#     li=[l.replace('\n','') for l in li]
#     li=[l.replace(' ','') for l in li]

#     import pandas as pd
#     import plotly.graph_objects as go

#     df=pd.DataFrame.from_dict({'colour': li})
#     fig = go.Figure(data=[go.Table(
#       header=dict(
#         values=["Plotly Named CSS colours"],
#         line_color='black', fill_color='white',
#         align='center', font=dict(color='black', size=14)
#       ),
#       cells=dict(
#         values=[df.colour],
#         line_color=[df.colour], fill_color=[df.colour],
#         align='center', font=dict(color='black', size=11)
#       ))
#     ])

#     fig.show()
# show_named_plotly_colours()

In [3]:
datetime.now().year

2022

In [4]:
os.getcwd()

'/mnt/d/dev/app_prenoms/code'

In [5]:
data_nat = '/mnt/d/dev/app_prenoms/data/nat2020.csv'

In [6]:
df_raw = pd.read_csv(data_nat, sep=';')

# Observations et nettoyage

In [8]:
df_raw.head()

   sexe        preusuel annais  nombre
0     1  _PRENOMS_RARES   1900    1250
1     1  _PRENOMS_RARES   1901    1342
2     1  _PRENOMS_RARES   1902    1330
3     1  _PRENOMS_RARES   1903    1286
4     1  _PRENOMS_RARES   1904    1430

In [13]:
df_raw[df_raw.sexe == 1].groupby('preusuel').agg(nombre=('nombre', sum)).sort_values(by=['nombre'], ascending=False).head()

                 nombre
preusuel
JEAN            1914060
PIERRE           891611
MICHEL           820353
_PRENOMS_RARES   799188
ANDRÉ            711950

In [9]:
df_raw.describe()

                sexe         nombre
count  667364.000000  667364.000000
mean        1.543828     129.772665
std         0.498076     884.912504
min         1.000000       1.000000
25%         1.000000       4.000000
50%         2.000000       8.000000
75%         2.000000      25.000000
max         2.000000   53584.000000

In [10]:
# Nombre de prénoms uniques
df_raw.preusuel.unique().shape

(35011,)

In [11]:
df_raw[df_raw.annais == 'XXXX']

        sexe preusuel annais  nombre
123        1        A   XXXX      21
130        1    AADAM   XXXX       9
138        1    AADEL   XXXX      28
164        1    AADIL   XXXX      34
169        1    AAHIL   XXXX       6
...      ...      ...    ...     ...
667297     2    ZÜMRA   XXXX       1
667315     2  ZUZANNA   XXXX      10
667336     2      ZYA   XXXX       6
667346     2     ZYNA   XXXX      16
667363     2    ZYNEB   XXXX      19

[36675 rows x 4 columns]

Conditions portant sur les prénoms retenus

    1. Sur la période allant de 1900 à 1945, le prénom a été attribué au moins 20 fois à des personnes de sexe féminin et/ou au moins 20 fois à des personnes de sexe masculin
    2. Sur la période allant de 1946 à 2020, le prénom a été attribué au moins 20 fois à des personnes de sexe féminin et/ou au moins 20 fois à des personnes de sexe masculin
    3. Pour une année de naissance donnée, le prénom a été attribué au moins 3 fois à des personnes de sexe féminin ou de sexe masculin

Les effectifs des prénoms ne remplissant pas les conditions 1 et 2 sont regroupés (pour chaque sexe et chaque année de naissance) dans un enregistrement dont le champ prénom (PREUSUEL) prend la valeur «_PRENOMS_RARES_». Les effectifs des prénoms remplissant la condition 2 mais pas la condition 3 sont regroupés (pour chaque sexe et chaque prénom) dans un enregistrement dont le champ année de naissance (ANNAIS) prend la valeur «XXXX».

In [12]:
# On supprime les valeurs de 'annais' == 'XXXX'
df_raw = df_raw[df_raw.annais != 'XXXX'].copy()
df_raw.annais = df_raw.annais.astype(int)
df_raw.describe()

                sexe         annais         nombre
count  630689.000000  630689.000000  630689.000000
mean        1.543861    1983.349118     135.979288
std         0.498073      31.492272     909.887013
min         1.000000    1900.000000       3.000000
25%         1.000000    1965.000000       4.000000
50%         2.000000    1993.000000       8.000000
75%         2.000000    2009.000000      24.000000
max         2.000000    2020.000000   53584.000000

In [13]:
df_raw.preusuel.sort_values()

121           A
122           A
124       AADAM
125       AADAM
126       AADAM
          ...
588418    ÖZLEM
650267     ÜMMÜ
650268     ÜMMÜ
650269     ÜMMÜ
563597      NaN
Name: preusuel, Length: 630689, dtype: object

In [14]:
df_raw[df_raw.preusuel.isna()]

        sexe preusuel  annais  nombre
563597     2      NaN    2003       3

In [15]:
df_raw.dropna(inplace=True)

In [16]:
df_raw.preusuel = df_raw.preusuel.apply(lambda x: x.lower())
df_raw.sample(5)

        sexe preusuel  annais  nombre
113686     1     hani    1988       4
33640      1   aydine    2015       7
35901      1    badra    2009       3
665247     2     zely    2007      10
393728     2    elham    2018       4

In [17]:
df_raw.preusuel.unique().shape

(33098,)

In [18]:
df_raw[df_raw.preusuel == 'estelle']

        sexe preusuel  annais  nombre
406192     2  estelle    1900     164
406193     2  estelle    1901     191
406194     2  estelle    1902     153
406195     2  estelle    1903     153
406196     2  estelle    1904     151
...      ...      ...     ...     ...
406308     2  estelle    2016     244
406309     2  estelle    2017     212
406310     2  estelle    2018     195
406311     2  estelle    2019     158
406312     2  estelle    2020     156

[121 rows x 4 columns]

In [19]:
df_nat = df_raw.copy(deep=True)

## Suppression des accents

In [20]:
df_nat[df_nat.preusuel.isin(['noël', 'agnès', 'mickaël', 'éléanor', 'léon', 'ingrid'])].preusuel.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8').unique()

array(['agnes', 'leon', 'mickael', 'noel', 'eleanor', 'ingrid'],
      dtype=object)

In [21]:
df_nat['preusuel'] = df_nat['preusuel'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')

In [22]:
df_nat.preusuel.unique().shape

(30133,)

In [23]:
df_nat.annais.max()

2020

## Aggrégation des prénoms désaccentués

In [26]:
df_gb_1 = df_nat.groupby(['preusuel', 'annais', 'sexe']).agg(nombre=('nombre', sum)).reset_index()
df_gb_1

              preusuel  annais  sexe  nombre
0       _prenoms_rares    1900     1    1250
1       _prenoms_rares    1900     2    1727
2       _prenoms_rares    1901     1    1342
3       _prenoms_rares    1901     2    1774
4       _prenoms_rares    1902     1    1330
...                ...     ...   ...     ...
604731           zyneb    2020     2       8
604732            zyon    2001     1       4
604733            zyon    2010     1       3
604734            zyon    2013     1       4
604735            zyon    2020     1       5

[604736 rows x 4 columns]

Vérification de l'aggrégation

In [27]:
df_raw.preusuel = df_raw.preusuel.apply(lambda x: x.lower())
df_raw[df_raw.preusuel.isin(['andrea', 'andréa'])].sort_values(by=['annais', 'sexe'])

        sexe preusuel  annais  nombre
324952     2   andréa    1900     402
324953     2   andréa    1901     478
324954     2   andréa    1902     492
22100      1   andréa    1903       3
324955     2   andréa    1903     486
...      ...      ...     ...     ...
325071     2   andréa    2019     573
22098      1   andrea    2020     524
22179      1   andréa    2020     295
324950     2   andrea    2020      97
325072     2   andréa    2020     504

[226 rows x 4 columns]

In [28]:
df_gb_1[df_gb_1.preusuel == 'andrea']

      preusuel  annais  sexe  nombre
38555   andrea    1900     2     402
38556   andrea    1901     2     478
38557   andrea    1902     2     492
38558   andrea    1903     1       3
38559   andrea    1903     2     486
...        ...     ...   ...     ...
38751   andrea    2018     2     708
38752   andrea    2019     1     687
38753   andrea    2019     2     691
38754   andrea    2020     1     819
38755   andrea    2020     2     601

[201 rows x 4 columns]

In [29]:
df_gb_1.dtypes

preusuel    object
annais       int64
sexe         int64
nombre       int64
dtype: object

# Observation d'un prénom

In [30]:
sexe = 1
prenom = 'andrea'
df_prenom = df_gb_1[(df_gb_1.preusuel == prenom) & (df_gb_1.sexe == sexe)]
px.line(df_prenom, x='annais', y='nombre', markers=True)

In [31]:
seuil = 5000
annee = 2020
df_nat[(df_nat.annais == annee) & (df_nat.nombre <= seuil)].preusuel

129         aadam
168         aahil
177         aarav
235         aaron
254        aarone
           ...
667296      zumra
667314    zuzanna
667335        zya
667345       zyna
667362      zyneb
Name: preusuel, Length: 13078, dtype: object

In [32]:
seuil = 5000
annee = 2020
df_nat[df_nat.annais == annee].sort_values(by='nombre')

        sexe        preusuel  annais  nombre
574959     2          neylla    2020       3
642010     2           taous    2020       3
469776     2           kaori    2020       3
92300      1            fily    2020       3
92309      1          finlay    2020       3
...      ...             ...     ...     ...
237467     1         raphael    2020    3970
98655      1         gabriel    2020    4415
169840     1             leo    2020    4496
120        1  _prenoms_rares    2020   26109
304553     2  _prenoms_rares    2020   27800

[13080 rows x 4 columns]

In [101]:
df_nat[df_nat.preusuel == 'sacha'].nombre.sum()

56927

In [113]:
df_nat.head()

   sexe        preusuel  annais  nombre
0     1  _prenoms_rares    1900    1250
1     1  _prenoms_rares    1901    1342
2     1  _prenoms_rares    1902    1330
3     1  _prenoms_rares    1903    1286
4     1  _prenoms_rares    1904    1430

# Totaux naissances et prénoms

In [33]:
df_total_nais_annees = df_nat.groupby('annais').agg({'nombre' : sum})
display(df_total_nais_annees.tail())
px.bar(df_total_nais_annees, y='nombre')

        nombre
annais
2016    760502
2017    746478
2018    736262
2019    731117
2020    713273

In [35]:
df_total_prenoms_annees = df_nat[df_nat.sexe == 1].groupby('annais').agg({'preusuel' : 'count'})
display(df_total_prenoms_annees.tail())
px.bar(df_total_prenoms_annees, y='preusuel')

        preusuel
annais
2016        6376
2017        6353
2018        6384
2019        6275
2020        6197

# Prénoms par périodes

## Récent

In [37]:
nb_annees = 10
n_display = 50
df_last_years = df_nat[(df_nat.annais.isin([year for year in range(2021 - nb_annees, 2021)])) & (df_nat.sexe == 1)]
df_last_years.groupby(['preusuel']).agg({'nombre' : sum}).sort_values(by='nombre', ascending=False).head(n_display)

                nombre
preusuel
_prenoms_rares  241526
gabriel          52332
leo              48692
lucas            47633
raphael          45944
louis            45935
jules            42799
hugo             41919
adam             41127
ethan            39382
nathan           39104
arthur           38503
mael             34617
enzo             31959
paul             31612
nolan            30434
timeo            30069
tom              29521
sacha            29335
liam             29292
noah             29192
theo             29063
mathis           26707
gabin            26278
mohamed          24926
clement          23595
noe              22790
axel             22538
aaron            21363
maxime           21301
antoine          21138
matheo           20451
yanis            19909
baptiste         19878
victor           19647
martin           18707
evan             18572
valentin         18523
robin            18456
rayan            18109
thomas           18100
maxence          17673
eden             17257
nael             16932
alexandre        16497
samuel           15786
marius           15556
leon             15217
tiago            14863
simon            14679

In [176]:
n_display = 50
df_last_3 = df_nat[(df_nat.annais.isin([year for year in range(2021 - 3, 2021)])) & (df_nat.sexe.isin([1, 2]))]
df_gb_3 = df_last_3.groupby(['preusuel']).agg(last_3=('nombre', sum)).sort_values(by='last_3', ascending=False).last_3.apply(lambda x: int(x / 3))
df_last_10 = df_nat[(df_nat.annais.isin([year for year in range(2021 - 10, 2021)])) & (df_nat.sexe.isin([1, 2]))]
df_gb_10 = df_last_10.groupby(['preusuel']).agg(last_10=('nombre', sum)).sort_values(by='last_10', ascending=False).last_10.apply(lambda x: int(x / 10))
df_compare = pd.concat((df_gb_10, df_gb_3), axis=1)
df_compare.head(n_display)

                last_10   last_3
preusuel
_prenoms_rares    50244  52740.0
gabriel            5233   4969.0
leo                4873   4789.0
lucas              4763   3657.0
emma               4625   3945.0
raphael            4594   4552.0
louis              4593   4061.0
jules              4279   3597.0
hugo               4191   3437.0
jade               4182   3877.0
louise             4158   3788.0
adam               4115   3658.0
ethan              3938   2895.0
chloe              3912   2928.0
nathan             3910   2638.0
arthur             3850   3853.0
camille            3795   2893.0
ines               3736   2791.0
lea                3624   2705.0
mael               3469   3501.0
manon              3201   1883.0
enzo               3196   1830.0
paul               3161   2770.0
lina               3140   2865.0
alice              3095   3198.0
nolan              3043   1835.0
lena               3033   2380.0
sacha              3022   2721.0
timeo              3006   1942.0
tom                2952   2368.0
lola               2937   1841.0
liam               2933   3020.0
noah               2931   2792.0
theo               2906   2158.0
zoe                2771   2014.0
mathis             2670   1929.0
gabin              2627   2715.0
mohamed            2492   2445.0
sarah              2422   1541.0
ambre              2364   2585.0
clement            2359   1465.0
eden               2351   2846.0
anna               2287   2506.0
noe                2280   2197.0
rose               2264   2694.0
juliette           2260   2028.0
axel               2254   1827.0
eva                2252   1930.0
julia              2195   2334.0
mila               2195   2528.0

In [180]:
# Table rows colors
boyColor = 'lightskyblue'
girlColor = 'pink'
boyOrGirlColor = 'plum'
dict_colors = {1 : boyColor, 2 : girlColor, 3 : boyOrGirlColor}


df_prenoms_sexes = df_nat.groupby(['preusuel', 'sexe']).agg(nombre=('nombre', sum)).reset_index().sort_values(by=['preusuel', 'nombre'], ascending=False)
# display(df_prenoms_sexes[df_prenoms_sexes.preusuel.isin(['louis', 'hugo', 'camille'])])

df_prenoms_tot = df_prenoms_sexes.groupby('preusuel').agg(total=('nombre', sum)).reset_index()
# display(df_prenoms_tot[df_prenoms_tot.preusuel.isin(['louis', 'hugo', 'camille'])])

df_prenom = pd.merge(df_prenoms_tot, df_prenoms_sexes, on='preusuel')
# display(df_prenom[df_prenom.preusuel.isin(['louis', 'hugo', 'camille'])])

df_prenom['prop_sexe'] = df_prenom.nombre / df_prenom.total
df_prenom.drop_duplicates(subset=['preusuel'], inplace=True)

df_prenom['number_color'] = df_prenom.apply(lambda row: row.sexe if row.prop_sexe > 0.99 else 3, axis=1)
df_prenom['color'] = df_prenom.number_color.apply(lambda numcol: dict_colors[numcol])

display(df_prenom[df_prenom.preusuel.isin(['louis', 'hugo', 'camille', 'sacha', 'janne', 'emma', 'jade', 'alice'])])

dict_prenom_color = dict(df_prenom.loc[:, ['preusuel', 'color']].values)
dict_prenom_color

      preusuel   total  sexe  nombre  prop_sexe  number_color         color
1259     alice  198863     2  198817   0.999769             2          pink
4603   camille  282947     2  205213   0.725270             3          plum
8306      emma  162435     2  162326   0.999329             2          pink
11974     hugo  145770     1  145770   1.000000             1  lightskyblue
12988     jade   94466     2   94218   0.997375             2          pink
13197    janne     145     2     145   1.000000             2          pink
17600    louis  525425     1  525309   0.999779             1  lightskyblue
26177    sacha   56927     1   53561   0.940872             3          plum

{'_prenoms_rares': 'plum',
 'a': 'lightskyblue',
 'aadam': 'lightskyblue',
 'aadel': 'lightskyblue',
 'aadil': 'lightskyblue',
 'aahil': 'lightskyblue',
 'aakash': 'lightskyblue',
 'aaleyah': 'pink',
 'aalia': 'pink',
 'aaliya': 'pink',
 'aaliyah': 'pink',
 'aalya': 'pink',
 'aalyah': 'pink',
 'aanor': 'pink',
 'aarav': 'lightskyblue',
 'aaricia': 'pink',
 'aaron': 'lightskyblue',
 'aarone': 'lightskyblue',
 'aaronn': 'lightskyblue',
 'aaroun': 'lightskyblue',
 'aarush': 'lightskyblue',
 'aaya': 'pink',
 'aayan': 'lightskyblue',
 'aaziz': 'lightskyblue',
 'ab': 'lightskyblue',
 'ab-del': 'lightskyblue',
 'ababacar': 'lightskyblue',
 'abakar': 'lightskyblue',
 'abane': 'lightskyblue',
 'abas': 'lightskyblue',
 'abass': 'lightskyblue',
 'abasse': 'lightskyblue',
 'abassia': 'pink',
 'abbas': 'lightskyblue',
 'abbes': 'lightskyblue',
 'abbie': 'pink',
 'abbigaelle': 'pink',
 'abby': 'pink',
 'abby-gaelle': 'pink',
 'abbygael': 'pink',
 'abbygaelle': 'pink',
 'abbygail': 'pink',
 'abd': 'lightskyblue',
 "abd'allah": 'lightskyblue',
 'abd-allah': 'lightskyblue',
 'abd-el': 'lightskyblue',
 'abd-el-kader': 'lightskyblue',
 'abd-el-krim': 'lightskyblue',
 'abd-el-rahman': 'lightskyblue',
 'abd-rahim': 'lightskyblue',
 'abd-rahman': 'lightskyblue',
 'abd-samad': 'lightskyblue',
 'abdala': 'lightskyblue',
 'abdalah': 'lightskyblue',
 'abdalaye': 'lightskyblue',
 'abdalha': 'lightskyblue',
 'abdalla': 'lightskyblue',
 'abdallah': 'lightskyblue',
 'abdalrahman': 'lightskyblue',
 'abdarahim': 'lightskyblue',
 'abdarahman': 'lightskyblue',
 'abdarahmane': 'lightskyblue',
 'abdarrahman': 'lightskyblue',
 'abdassamad': 'lightskyblue',
 'abde': 'lightskyblue',
 'abdel': 'lightskyblue',
 'abdel-akim': 'lightskyblue',
 'abdel-ali': 'lightskyblue',
 'abdel-aziz': 'lightskyblue',
 'abdel-djalil': 'lightskyblue',
 'abdel-ghani': 'lightskyblue',
 'abdel-hadi': 'lightskyblue',
 'abdel-hafid': 'lightskyblue',
 'abdel-hakim': 'lightskyblue',
 'abdel-halim': 'lightskyblue',
 'abdel-hamid': 'lightskyblue',
 'abdel-ilah': 'lightskyblue',
 'abdel-illah': 'lightskyblue',
 'abdel-jalil': 'lightskyblue',
 'abdel-kader': 'lightskyblue',
 'abdel-karim': 'lightskyblue',
 'abdel-krim': 'lightskyblue',
 'abdel-latif': 'lightskyblue',
 'abdel-madjid': 'lightskyblue',
 'abdel-majid': 'lightskyblue',
 'abdel-malek': 'lightskyblue',
 'abdel-malik': 'lightskyblue',
 'abdel-moumen': 'lightskyblue',
 'abdel-nasser': 'lightskyblue',
 'abdel-nour': 'lightskyblue',
 'abdel-rahim': 'lightskyblue',
 'abdel-rahman': 'lightskyblue',
 'abdel-rahmane': 'lightskyblue',
 'abdel-rahmen': 'lightskyblue',
 'abdel-rani': 'lightskyblue',
 'abdel-raouf': 'lightskyblue',
 'abdel-samad': 'lightskyblue',
 'abdel-wahab': 'lightskyblue',
 'abdel-waheb': 'lightskyblue',
 'abdel-wahid': 'lightskyblue',
 'abdel-wakil': 'lightskyblue',
 'abdela': 'lightskyblue',
 'abdelaali': 'lightskyblue',
 'abdeladim': 'lightskyblue',
 'abdelafid': 'lightskyblue',
 'abdelah': 'lightskyblue',
 'abdelakim': 'lightskyblue',
 'abdelali': 'lightskyblue',
 'abdelatif': 'lightskyblue',
 'abdelaziz': 'lightskyblue',
 'abdelazize': 'lightskyblue',
 'abdelazziz': 'lightskyblue',
 'abdelbaki': 'lightskyblue',
 'abdelbasset': 'lightskyblue',
 'abdeldjalil': 'lightskyblue',
 'abdeldjallil': 'lightskyblue',
 'abdelfatah': 'lightskyblue',
 'abdelfattah': 'lightskyblue',
 'abdelfetah': 'lightskyblue',
 'abdelfettah': 'lightskyblue',
 'abdelghafour': 'lightskyblue',
 'abdelghani': 'lightskyblue',
 'abdelha': 'lightskyblue',
 'abdelhadi': 'lightskyblue',
 'abdelhafid': 'lightskyblue',
 'abdelhafide': 'lightskyblue',
 'abdelhak': 'lightskyblue',
 'abdelhake': 'lightskyblue',
 'abdelhakim': 'lightskyblue',
 'abdelhakime': 'lightskyblue',
 'abdelhali': 'lightskyblue',
 'abdelhalim': 'lightskyblue',
 'abdelhalime': 'lightskyblue',
 'abdelhamed': 'lightskyblue',
 'abdelhamid': 'lightskyblue',
 'abdelhaq': 'lightskyblue',
 'abdelhatif': 'lightskyblue',
 'abdelhaziz': 'lightskyblue',
 'abdelhedi': 'lightskyblue',
 'abdelhouab': 'lightskyblue',
 'abdelilah': 'lightskyblue',
 'abdelillah': 'lightskyblue',
 'abdeljalil': 'lightskyblue',
 'abdeljallil': 'lightskyblue',
 'abdeljawad': 'lightskyblue',
 'abdelkader': 'lightskyblue',
 'abdelkarim': 'lightskyblue',
 'abdelkarime': 'lightskyblue',
 'abdelkhader': 'lightskyblue',
 'abdelkhalek': 'lightskyblue',
 'abdelkrim': 'lightskyblue',
 'abdelkrime': 'lightskyblue',
 'abdella': 'lightskyblue',
 'abdellah': 'lightskyblue',
 'abdellali': 'lightskyblue',
 'abdellatif': 'lightskyblue',
 'abdellaziz': 'lightskyblue',
 'abdelmadjid': 'lightskyblue',
 'abdelmagid': 'lightskyblue',
 'abdelmajid': 'lightskyblue',
 'abdelmajide': 'lightskyblue',
 'abdelmalek': 'lightskyblue',
 'abdelmalik': 'lightskyblue',
 'abdelmatine': 'lightskyblue',
 'abdelmoula': 'lightskyblue',
 'abdelmoumen': 'lightskyblue',
 'abdelmoumene': 'lightskyblue',
 'abdelmounaim': 'lightskyblue',
 'abdelnacer': 'lightskyblue',
 'abdelnasser': 'lightskyblue',
 'abdelnor': 'lightskyblue',
 'abdelnour': 'lightskyblue',
 'abdeloihab': 'lightskyblue',
 'abdelouab': 'lightskyblue',
 'abdelouahab': 'lightskyblue',
 'abdelouahad': 'lightskyblue',
 'abdelouaheb': 'lightskyblue',
 'abdelouahed': 'lightskyblue',
 'abdelouahid': 'lightskyblue',
 'abdelouhab': 'lightskyblue',
 'abdelrahim': 'lightskyblue',
 'abdelrahman': 'lightskyblue',
 'abdelrahmane': 'lightskyblue',
 'abdelrahmen': 'lightskyblue',
 'abdelrahmene': 'lightskyblue',
 'abdelrahni': 'lightskyblue',
 'abdelramane': 'lightskyblue',
 'abdelrani': 'lightskyblue',
 'abdelraouf': 'lightskyblue',
 'abdelrazak': 'lightskyblue',
 'abdelrazek': 'lightskyblue',
 'abdelrezak': 'lightskyblue',
 'abdelrhani': 'lightskyblue',
 'abdelsalam': 'lightskyblue',
 'abdelsalem': 'lightskyblue',
 'abdelsamad': 'lightskyblue',
 'abdelslam': 'lightskyblue',
 'abdelssamad': 'lightskyblue',
 'abdeltif': 'lightskyblue',
 'abdelwadoud': 'lightskyblue',
 'abdelwahab': 'lightskyblue',
 'abdelwahad': 'lightskyblue',
 'abdelwaheb': 'lightskyblue',
 'abdelwahed': 'lightskyblue',
 'abdelwahid': 'lightskyblue',
 'abdelwakil': 'lightskyblue',
 'abdenabi': 'lightskyblue',
 'abdenacer': 'lightskyblue',
 'abdenasser': 'lightskyblue',
 'abdenbi': 'lightskyblue',
 'abdennasser': 'lightskyblue',
 'abdennour': 'lightskyblue',
 'abdenor': 'lightskyblue',
 'abdenour': 'lightskyblue',
 'abderahim': 'lightskyblue',
 'abderahime': 'lightskyblue',
 'abderahman': 'lightskyblue',
 'abderahmane': 'lightskyblue',
 'abderahmen': 'lightskyblue',
 'abderahmene': 'lightskyblue',
 'abderaman': 'lightskyblue',
 'abderamane': 'lightskyblue',
 'abderaouf': 'lightskyblue',
 'abderazak': 'lightskyblue',
 'abderemane': 'lightskyblue',
 'abderezak': 'lightskyblue',
 'abderhaman': 'lightskyblue',
 'abderhamane': 'lightskyblue',
 'abderrahim': 'lightskyblue',
 'abderrahime': 'lightskyblue',
 'abderrahman': 'lightskyblue',
 'abderrahmane': 'lightskyblue',
 'abderrahmen': 'lightskyblue',
 'abderrahmene': 'lightskyblue',
 'abderramane': 'lightskyblue',
 'abderraouf': 'lightskyblue',
 'abderrazak': 'lightskyblue',
 'abderrezak': 'lightskyblue',
 'abderrhamane': 'lightskyblue',
 'abderzak': 'lightskyblue',
 'abdesalam': 'lightskyblue',
 'abdesamad': 'lightskyblue',
 'abdeslam': 'lightskyblue',
 'abdeslem': 'lightskyblue',
 'abdessalam': 'lightskyblue',
 'abdessalem': 'lightskyblue',
 'abdessamad': 'lightskyblue',
 'abdessamade': 'lightskyblue',
 'abdessamed': 'lightskyblue',
 'abdessatar': 'lightskyblue',
 'abdesselam': 'lightskyblue',
 'abdesselem': 'lightskyblue',
 'abdesslam': 'lightskyblue',
 'abdesslem': 'lightskyblue',
 'abdi': 'lightskyblue',
 'abdias': 'lightskyblue',
 'abdil': 'lightskyblue',
 'abdillah': 'lightskyblue',
 'abdirahman': 'lightskyblue',
 'abdnour': 'lightskyblue',
 'abdo': 'lightskyblue',
 'abdollah': 'lightskyblue',
 'abdon': 'plum',
 'abdonie': 'pink',
 'abdonise': 'pink',
 'abdool': 'lightskyblue',
 'abdou': 'lightskyblue',
 'abdou-aziz': 'lightskyblue',
 'abdou-karim': 'lightskyblue',
 'abdou-rahman': 'lightskyblue',
 'abdou-salam': 'lightskyblue',
 'abdouallah': 'lightskyblue',
 'abdoukarim': 'lightskyblue',
 'abdoul': 'lightskyblue',
 'abdoul-aziz': 'lightskyblue',
 'abdoul-hamid': 'lightskyblue',
 'abdoul-kader': 'lightskyblue',
 'abdoul-karim': 'lightskyblue',
 'abdoul-malik': 'lightskyblue',
 'abdoul-rahim': 'lightskyblue',
 'abdoul-rahman': 'lightskyblue',
 'abdoul-wahab': 'lightskyblue',
 'abdoula': 'lightskyblue',
 'abdoulah': 'lightskyblue',
 'abdoulahi': 'lightskyblue',
 'abdoulai': 'lightskyblue',
 'abdoulatif': 'lightskyblue',
 'abdoulay': 'lightskyblue',
 'abdoulaye': 'lightskyblue',
 'abdoulaziz': 'lightskyblue',
 'abdoulhakim': 'lightskyblue',
 'abdoulhamid': 'lightskyblue',
 'abdoulkader': 'lightskyblue',
 'abdoulkarim': 'lightskyblue',
 'abdoulla': 'lightskyblue',
 'abdoullah': 'lightskyblue',
 'abdoullahi': 'lightskyblue',
 'abdoullaye': 'lightskyblue',
 'abdoulwahab': 'lightskyblue',
 'abdourahamane': 'lightskyblue',
 'abdourahim': 'lightskyblue',
 'abdourahman': 'lightskyblue',
 'abdourahmane': 'lightskyblue',
 'abdouramane': 'lightskyblue',
 'abdourazak': 'lightskyblue',
 'abdourrahman': 'lightskyblue',
 'abdourrahmane': 'lightskyblue',
 'abdrahamane': 'lightskyblue',
 'abdrahim': 'lightskyblue',
 'abdrahman': 'lightskyblue',
 'abdrahmane': 'lightskyblue',
 'abdramane': 'lightskyblue',
 'abdsamad': 'lightskyblue',
 'abdu': 'lightskyblue',
 'abdul': 'lightskyblue',
 'abdul-kadir': 'lightskyblue',
 'abdul-karim': 'lightskyblue',
 'abdul-malik': 'lightskyblue',
 'abdul-rahman': 'lightskyblue',
 'abdul-samet': 'lightskyblue',
 'abdulah': 'lightskyblue',
 'abdulaziz': 'lightskyblue',
 'abdulbaki': 'lightskyblue',
 'abdulhamid': 'lightskyblue',
 'abdulkadir': 'lightskyblue',
 'abdulkerim': 'lightskyblue',
 'abdulla': 'lightskyblue',
 'abdullah': 'lightskyblue',
 'abdulmalik': 'lightskyblue',
 'abdulrahman': 'lightskyblue',
 'abdulsamed': 'lightskyblue',
 'abdulsamet': 'lightskyblue',
 'abdurahman': 'lightskyblue',
 'abdurrahim': 'lightskyblue',
 'abdurrahman': 'lightskyblue',
 'abdussamed': 'lightskyblue',
 'abed': 'lightskyblue',
 'abeer': 'pink',
 'abel': 'lightskyblue',
 'abelard': 'lightskyblue',
 'abelardo': 'lightskyblue',
 'abele': 'pink',
 'abelia': 'pink',
 'abelina': 'pink',
 'abeline': 'pink',
 'abelino': 'lightskyblue',
 'abella': 'pink',
 'abelle': 'pink',
 'abes': 'lightskyblue',
 'abesse': 'lightskyblue',
 'abi': 'pink',
 'abib': 'lightskyblue',
 'abiba': 'pink',
 'abibata': 'pink',
 'abibatou': 'pink',
 'abid': 'lightskyblue',
 'abida': 'pink',
 'abidin': 'lightskyblue',
 'abidine': 'lightskyblue',
 'abie': 'pink',
 'abiel': 'lightskyblue',
 'abigael': 'pink',
 'abigaelle': 'pink',
 'abigahel': 'pink',
 'abigail': 'pink',
 'abiha': 'pink',
 'abilash': 'lightskyblue',
 'abilio': 'lightskyblue',
 'abimael': 'lightskyblue',
 'abina': 'pink',
 'abinash': 'lightskyblue',
 'abinaya': 'pink',
 'abinesh': 'lightskyblue',
 'abiola': 'lightskyblue',
 'abir': 'pink',
 'abira': 'pink',
 'abiram': 'lightskyblue',
 'abirami': 'pink',
 'abiramy': 'pink',
 'abire': 'pink',
 'abisan': 'lightskyblue',
 'abisha': 'pink',
 'abishan': 'lightskyblue',
 'abishek': 'lightskyblue',
 'abla': 'pink',
 'ablaye': 'lightskyblue',
 'abner': 'lightskyblue',
 'abou': 'lightskyblue',
 'abou-bakar': 'lightskyblue',
 'abou-baker': 'lightskyblue',
 'abou-bakr': 'lightskyblue',
 'abou-sofiane': 'lightskyblue',
 'aboubacar': 'lightskyblue',
 'aboubacar-sidiki': 'lightskyblue',
 'aboubacari': 'lightskyblue',
 'aboubacary': 'lightskyblue',
 'aboubacry': 'lightskyblue',
 'aboubaka': 'lightskyblue',
 'aboubakar': 'lightskyblue',
 'aboubakari': 'lightskyblue',
 'aboubakary': 'lightskyblue',
 'aboubaker': 'lightskyblue',
 'aboubakr': 'lightskyblue',
 'aboubakri': 'lightskyblue',
 'aboubakry': 'lightskyblue',
 'aboudou': 'lightskyblue',
 'aboudoulaye': 'lightskyblue',
 'aboudramane': 'lightskyblue',
 'aboulay': 'lightskyblue',
 'aboulaye': 'lightskyblue',
 'abraham': 'lightskyblue',
 'abrahim': 'lightskyblue',
 'abram': 'lightskyblue',
 'abrar': 'plum',
 'abriel': 'lightskyblue',
 'abril': 'pink',
 'absa': 'pink',
 'absatou': 'pink',
 'abu': 'lightskyblue',
 'abu-bakr': 'lightskyblue',
 'abubakar': 'lightskyblue',
 'aby': 'pink',
 'aby-gaelle': 'pink',
 'abygael': 'pink',
 'abygaelle': 'pink',
 'abygail': 'pink',
 'acacia': 'pink',
 'acacio': 'lightskyblue',
 'ace': 'lightskyblue',
 'acelia': 'pink',
 'acelya': 'pink',
 'acene': 'lightskyblue',
 'achata': 'pink',
 'acher': 'lightskyblue',
 'acheraf': 'lightskyblue',
 'achida': 'pink',
 'achil': 'lightskyblue',
 'achile': 'lightskyblue',
 'achille': 'lightskyblue',
 'achilles': 'lightskyblue',
 'achim': 'lightskyblue',
 'achley': 'pink',
 'achmi': 'lightskyblue',
 'achot': 'lightskyblue',
 'achouak': 'pink',
 'achour': 'lightskyblue',
 'achraf': 'lightskyblue',
 'achrafe': 'lightskyblue',
 'achref': 'lightskyblue',
 'achta': 'pink',
 'achwak': 'pink',
 'acia': 'pink',
 'acil': 'plum',
 'acile': 'pink',
 'acya': 'pink',
 'acyl': 'lightskyblue',
 'ada': 'plum',
 'adalbert': 'lightskyblue',
 'adalgisa': 'pink',
 'adaline': 'pink',
 'adalyne': 'pink',
 'adalynn': 'pink',
 'adam': 'lightskyblue',
 "adam's": 'lightskyblue',
 'adam-mohamed': 'lightskyblue',
 'adama': 'plum',
 'adame': 'plum',
 'adamm': 'lightskyblue',
 'adamo': 'lightskyblue',
 'adams': 'lightskyblue',
 'adan': 'lightskyblue',
 'adane': 'lightskyblue',
 'adao': 'lightskyblue',
 'adar': 'lightskyblue',
 'adassa': 'pink',
 'adda': 'plum',
 'addam': 'lightskyblue',
 'addel': 'lightskyblue',
 'addil': 'lightskyblue',
 'addison': 'plum',
 'addolorata': 'pink',
 'addy': 'lightskyblue',
 'addyson': 'pink',
 'adea': 'pink',
 'adeel': 'lightskyblue',
 'adel': 'lightskyblue',
 'adela': 'pink',
 'adelaida': 'pink',
 'adelaide': 'plum',
 'adelais': 'pink',
 'adelbert': 'lightskyblue',
 'adele': 'pink',
 'adele-rose': 'pink',
 'adeleine': 'pink',
 'adelheid': 'pink',
 'adelia': 'pink',
 'adelice': 'pink',
 'adelie': 'pink',
 'adelin': 'lightskyblue',
 'adelina': 'pink',
 'adeline': 'pink',
 'adelino': 'lightskyblue',
 'adelio': 'lightskyblue',
 'adelisa': 'pink',
 'adelise': 'pink',
 'adella': 'pink',
 'adelle': 'pink',
 'adelma': 'pink',
 'adelmo': 'lightskyblue',
 'adelphe': 'lightskyblue',
 'adelphine': 'pink',
 'adelson': 'lightskyblue',
 'adelya': 'pink',
 'adelyne': 'pink',
 'adelys': 'pink',
 'adem': 'lightskyblue',
 'adema': 'pink',
 'ademar': 'lightskyblue',
 'ademe': 'lightskyblue',
 'aden': 'plum',
 'adena': 'pink',
 'adenise': 'pink',
 'adenora': 'pink',
 'adeodat': 'lightskyblue',
 'aderito': 'lightskyblue',
 'adham': 'lightskyblue',
 'adhan': 'lightskyblue',
 'adhem': 'lightskyblue',
 'adhemar': 'lightskyblue',
 'adhen': 'lightskyblue',
 'adi': 'lightskyblue',
 'adia': 'pink',
 'adiaratou': 'pink',
 'adib': 'lightskyblue',
 'adiba': 'pink',
 'adidi': 'pink',
 'adidja': 'pink',
 'adiel': 'lightskyblue',
 'adija': 'pink',
 'adil': 'lightskyblue',
 'adila': 'pink',
 'adile': 'plum',
 'adilia': 'pink',
 'adille': 'lightskyblue',
 'adilson': 'lightskyblue',
 'adim': 'lightskyblue',
 'adin': 'lightskyblue',
 'adina': 'pink',
 'adine': 'pink',
 'adis': 'lightskyblue',
 'adisson': 'pink',
 'adithya': 'lightskyblue',
 'aditi': 'pink',
 'aditya': 'lightskyblue',
 'adixia': 'pink',
 'adiza': 'pink',
 'adja': 'pink',
 'adjara': 'pink',
 'adjaratou': 'pink',
 'adji': 'plum',
 'adjia': 'pink',
 'adjila': 'pink',
 'adjira': 'pink',
 'adjmal': 'lightskyblue',
 'adlan': 'lightskyblue',
 'adlane': 'lightskyblue',
 'adlen': 'lightskyblue',
 'adlene': 'lightskyblue',
 'adler': 'lightskyblue',
 'adley': 'lightskyblue',
 'adline': 'pink',
 'admir': 'lightskyblue',
 'adna': 'pink',
 'adnan': 'lightskyblue',
 'adnane': 'lightskyblue',
 'adnen': 'lightskyblue',
 'adnene': 'lightskyblue',
 'adolf': 'lightskyblue',
 'adolfo': 'lightskyblue',
 'adolie': 'pink',
 'adoline': 'pink',
 'adolph': 'lightskyblue',
 'adolpha': 'pink',
 'adolphe': 'lightskyblue',
 'adolphine': 'pink',
 'adon': 'lightskyblue',
 'adonai': 'plum',
 'adonay': 'plum',
 'adonia': 'pink',
 'adonie': 'pink',
 'adonis': 'lightskyblue',
 'adonise': 'pink',
 'adonys': 'lightskyblue',
 'adora': 'pink',
 'adoracion': 'pink',
 'adoration': 'pink',
 'adra': 'pink',
 'adria': 'pink',
 'adriaan': 'lightskyblue',
 'adrian': 'lightskyblue',
 'adriana': 'pink',
 'adriane': 'pink',
 'adriann': 'lightskyblue',
 'adrianna': 'pink',
 'adrianne': 'pink',
 'adriano': 'lightskyblue',
 'adriel': 'lightskyblue',
 'adrielle': 'pink',
 'adrien': 'lightskyblue',
 'adrienne': 'pink',
 'adrina': 'pink',
 'adrya': 'pink',
 'adryan': 'lightskyblue',
 'adryana': 'pink',
 'adryann': 'lightskyblue',
 'adryano': 'lightskyblue',
 'adryel': 'lightskyblue',
 'adryen': 'lightskyblue',
 'advik': 'lightskyblue',
 'adyan': 'lightskyblue',
 'adyl': 'lightskyblue',
 'adyson': 'pink',
 'adysson': 'pink',
 'adzo': 'lightskyblue',
 'aedan': 'lightskyblue',
 'aedann': 'lightskyblue',
 'aeden': 'lightskyblue',
 'aegon': 'lightskyblue',
 'ael': 'plum',
 'aela': 'pink',
 'aelaig': 'pink',
 'aelia': 'pink',
 'aelie': 'pink',
 'aelig': 'plum',
 'aeline': 'pink',
 'aelis': 'pink',
 'aelita': 'pink',
 'aella': 'pink',
 'aelle': 'pink',
 'aely': 'pink',
 'aelya': 'pink',
 'aelyn': 'pink',
 'aelyne': 'pink',
 'aelynn': 'pink',
 'aelys': 'pink',
 'aena': 'pink',
 'aenaelle': 'pink',
 'aenor': 'pink',
 'aenora': 'pink',
 'aeris': 'pink',
 'aerith': 'pink',
 'aeron': 'lightskyblue',
 'aeryn': 'pink',
 'aeryne': 'pink',
 'aerys': 'pink',
 'aesa': 'pink',
 'afaf': 'pink',
 'afafe': 'pink',
 'afdal': 'lightskyblue',
 'afef': 'pink',
 'afeni': 'pink',
 'affaf': 'pink',
 'affan': 'lightskyblue',
 'affef': 'pink',
 'affif': 'lightskyblue',
 'affou': 'pink',
 'affoue': 'pink',
 'afi': 'pink',
 'afia': 'pink',
 'afid': 'lightskyblue',
 'afida': 'pink',
 'afif': 'lightskyblue',
 'afifa': 'pink',
 'afiya': 'pink',
 'afnan': 'pink',
 'afnane': 'pink',
 'afnen': 'pink',
 'afnene': 'pink',
 'afonso': 'lightskyblue',
 'afra': 'pink',
 'afrah': 'pink',
 'afrahim': 'lightskyblue',
 'africa': 'pink',
 'afrim': 'lightskyblue',
 'afsa': 'pink',
 'afsana': 'pink',
 'aftab': 'lightskyblue',
 'afton': 'pink',
 'aftone': 'pink',
 'afzal': 'lightskyblue',
 'agapito': 'lightskyblue',
 'agash': 'lightskyblue',
 'agata': 'pink',
 'agate': 'pink',
 'agatha': 'pink',
 'agathe': 'pink',
 'agathon': 'lightskyblue',
 'agenor': 'lightskyblue',
 'aghilas': 'lightskyblue',
 'aghiles': 'lightskyblue',
 'agit': 'lightskyblue',
 'aglae': 'pink',
 'aglaee': 'pink',
 'aglaia': 'pink',
 'agnan': 'plum',
 'agnel': 'lightskyblue',
 'agnela': 'pink',
 'agnella': 'pink',
 'agnes': 'pink',
 'agnes-marie': 'pink',
 'agnesa': 'pink',
 'agnese': 'pink',
 'agniela': 'pink',
 'agnies': 'pink',
 'agop': 'lightskyblue',
 'agostina': 'pink',
 'agostinho': 'lightskyblue',
 'agostino': 'lightskyblue',
 'agueda': 'pink',
 'aguibou': 'lightskyblue',
 'agustin': 'lightskyblue',
 'agustina': 'pink',
 'agustinho': 'lightskyblue',
 'agustino': 'lightskyblue',
 'ah': 'plum',
 'ahad': 'lightskyblue',
 'ahamada': 'lightskyblue',
 'ahamadou': 'lightskyblue',
 'ahamed': 'lightskyblue',
 'ahana': 'pink',
 'aharon': 'lightskyblue',
 'aharone': 'lightskyblue',
 'ahava': 'pink',
 'ahcen': 'lightskyblue',
 'ahcene': 'lightskyblue',
 'ahed': 'pink',
 'ahil': 'lightskyblue',
 'ahkim': 'lightskyblue',
 'ahlam': 'pink',
 'ahlame': 'pink',
 'ahlan': 'lightskyblue',
 'ahlem': 'pink',
 'ahleme': 'pink',
 'ahlima': 'pink',
 'ahmad': 'lightskyblue',
 'ahmada': 'lightskyblue',
 'ahmadou': 'lightskyblue',
 'ahmadou-bamba': 'lightskyblue',
 'ahmar': 'lightskyblue',
 'ahmat': 'lightskyblue',
 'ahmed': 'lightskyblue',
 'ahmed-ali': 'lightskyblue',
 'ahmed-amin': 'lightskyblue',
 'ahmed-amine': 'lightskyblue',
 'ahmed-yacine': 'lightskyblue',
 'ahmed-yassine': 'lightskyblue',
 'ahmel': 'pink',
 'ahmet': 'lightskyblue',
 'ahmet-can': 'lightskyblue',
 'ahmid': 'lightskyblue',
 'ahna': 'pink',
 'ahnaf': 'lightskyblue',
 'ahron': 'lightskyblue',
 'ahsan': 'lightskyblue',
 'ahsen': 'pink',
 'ahyan': 'lightskyblue',
 'ahyna': 'pink',
 'ai': 'pink',
 'aia': 'pink',
 'aiana': 'pink',
 'aicha': 'pink',
 'aichat': 'pink',

In [181]:
df_compare = df_compare.reset_index()
df_compare['color'] = df_compare.preusuel.apply(lambda prenom: dict_prenom_color[prenom])
df_compare.head(30)

          preusuel  last_10   last_3         color
0   _prenoms_rares    50244  52740.0          plum
1          gabriel     5233   4969.0  lightskyblue
2              leo     4873   4789.0  lightskyblue
3            lucas     4763   3657.0  lightskyblue
4             emma     4625   3945.0          pink
5          raphael     4594   4552.0  lightskyblue
6            louis     4593   4061.0  lightskyblue
7            jules     4279   3597.0  lightskyblue
8             hugo     4191   3437.0  lightskyblue
9             jade     4182   3877.0          pink
10          louise     4158   3788.0          pink
11            adam     4115   3658.0  lightskyblue
12           ethan     3938   2895.0  lightskyblue
13           chloe     3912   2928.0          pink
14          nathan     3910   2638.0  lightskyblue
15          arthur     3850   3853.0  lightskyblue
16         camille     3795   2893.0          plum
17            ines     3736   2791.0          pink
18             lea     3624   2705.0          pink
19            mael     3469   3501.0  lightskyblue
20           manon     3201   1883.0          pink
21            enzo     3196   1830.0  lightskyblue
22            paul     3161   2770.0  lightskyblue
23            lina     3140   2865.0          pink
24           alice     3095   3198.0          pink
25           nolan     3043   1835.0  lightskyblue
26            lena     3033   2380.0          pink
27           sacha     3022   2721.0          plum
28           timeo     3006   1942.0  lightskyblue
29             tom     2952   2368.0  lightskyblue

In [185]:
# Get number of sexes by Prénom
df_compare_prenoms = df_compare.reset_index()
df_compare_prenoms = df_compare_prenoms[['preusuel']]
df_compare_prenoms['color'] = df_compare_prenoms.preusuel.apply(lambda prenom: dict_prenom_color[prenom])
ar_colors = df_compare_prenoms.color.values.tolist()

[ar_colors * 5]

[['plum',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'plum',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'plum',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'plum',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'plum',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'plum',
  'pink',
  'plum',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'plum',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'plum',
  'pink',
  'pink',
  'plum',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'plum',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'plum',
  'plum',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'plum',
  'lightskyblue',
  'plum',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'plum',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'pink',
  'plum',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'plum',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'plum',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'plum',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'pink',
  'plum',
  'pink',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'plum',
  'pink',
  'pink',
  'plum',
  'lightskyblue',
  'plum',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'pink',
  'pink',
  'plum',
  'pink',
  'lightskyblue',
  'plum',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'plum',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'plum',
  'pink',
  'pink',
  'lightskyblue',
  'plum',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'plum',
  'pink',
  'plum',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'plum',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'plum',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'plum',
  'plum',
  'pink',
  'pink',
  'plum',
  'lightskyblue',
  'plum',
  'plum',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'plum',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'plum',
  'plum',
  'plum',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'plum',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'plum',
  'pink',
  'plum',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'pink',
  'plum',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'plum',
  'pink',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'plum',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'plum',
  'lightskyblue',
  'lightskyblue',
  'plum',
  'pink',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'plum',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'plum',
  'pink',
  'pink',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'plum',
  'pink',
  'pink',
  'lightskyblue',
  'plum',
  'plum',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'plum',
  'lightskyblue',
  'plum',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'plum',
  'plum',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'plum',
  'pink',
  'pink',
  'plum',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'plum',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'plum',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'plum',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'plum',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'plum',
  'plum',
  'plum',
  'pink',
  'pink',
  'lightskyblue',
  'plum',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'plum',
  'lightskyblue',
  'plum',
  'plum',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'plum',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'pink',
  'pink',
  'pink',
  'pink',
  'pink',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'plum',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'plum',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'plum',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'plum',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'plum',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'plum',
  'pink',
  'lightskyblue',
  'plum',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'plum',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'plum',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'plum',
  'plum',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'plum',
  'lightskyblue',
  'pink',
  'plum',
  'plum',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'plum',
  'plum',
  'pink',
  'plum',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'plum',
  'pink',
  'plum',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'plum',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'plum',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'plum',
  'lightskyblue',
  'plum',
  'pink',
  'pink',
  'pink',
  'plum',
  'lightskyblue',
  'plum',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'plum',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'pink',
  'plum',
  'plum',
  'pink',
  'lightskyblue',
  'plum',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'plum',
  'pink',
  'pink',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'pink',
  'plum',
  'pink',
  'pink',
  'pink',
  'plum',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'plum',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'plum',
  'plum',
  'pink',
  'lightskyblue',
  'pink',
  'plum',
  'plum',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'plum',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'lightskyblue',
  'plum',
  'pink',
  'pink',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'pink',
  'plum',
  'pink',
  'pink',
  'pink',
  'pink',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'plum',
  'lightskyblue',
  'pink',
  'lightskyblue',
  'lightskyblue',
  'lightskyblue',
  'pink',
  'pink',
  'pink',
  'pink',
  'plum',
  'pink',
  ...]]

In [188]:
liste = [1, 2, 3]

[[1, 2, 3] * 5]

[[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]]

In [52]:
df_nat

        sexe        preusuel  annais  nombre
0          1  _prenoms_rares    1900    1250
1          1  _prenoms_rares    1901    1342
2          1  _prenoms_rares    1902    1330
3          1  _prenoms_rares    1903    1286
4          1  _prenoms_rares    1904    1430
...      ...             ...     ...     ...
667358     2           zyneb    2016       6
667359     2           zyneb    2017       6
667360     2           zyneb    2018       5
667361     2           zyneb    2019       7
667362     2           zyneb    2020       8

[630688 rows x 4 columns]

In [104]:
df_compare.reset_index()

            preusuel  last_10   last_3
0     _prenoms_rares    24152  25526.0
1            gabriel     5233   4968.0
2                leo     4869   4781.0
3              lucas     4763   3657.0
4            raphael     4594   4551.0
...              ...      ...      ...
9836   djamel-eddine        0      NaN
9837            tran        0      NaN
9838     jean-maxime        0      NaN
9839     jean-mathis        0      NaN
9840           roxan        0      NaN

[9841 rows x 3 columns]

In [84]:
# df_nat[df_nat.preusuel.isin(df_compare.index.values)].groupby(['preusuel', 'sexe']).agg(preusuel=('preusuel', 'first'))
# ser_sexe_color = df_nat[df_nat.preusuel.isin(df_compare.index.values)].groupby('preusuel').sexe.nunique()
ser_sexe_color = df_nat[df_nat.preusuel.isin(df_compare.index.values)].groupby('preusuel').agg(nsexes=('sexe', 'nunique'), sexe=('sexe', 'min'))
ser_sexe_color.sample(30)

             nsexes  sexe  fsexe
preusuel
ariel             2     2      1
stefanu           1     1      1
thibo             1     1      1
millan            1     1      1
chamsdine         1     1      1
timour            1     1      1
mocktar           1     1      1
tyson             1     1      1
fouad             1     1      1
galdric           1     1      1
sohane            2     2      1
adao              1     1      1
pierre-loup       1     1      1
lenz              1     1      1
djenael           1     1      1
noane             2     2      1
aimine            1     1      1
zayyan            1     1      1
abdou-aziz        1     1      1
shaun             1     1      1
tedd              1     1      1
elysio            1     1      1
amedee            2     2      1
yun               2     2      1
binjamin          1     1      1
rui               1     1      1
welat             1     1      1
elrick            1     1      1
manael            2     2      1
kaiden            1     1      1

In [66]:
ser_sexe_color.loc[df_compare.index.values]

preusuel
_prenoms_rares    2
gabriel           2
leo               2
lucas             2
raphael           2
                 ..
djamel-eddine     1
tran              2
jean-maxime       1
jean-mathis       1
roxan             1
Name: sexe, Length: 9841, dtype: int64

In [48]:
df_compare.head()

                last_10   last_3
preusuel
_prenoms_rares    24152  25526.0
gabriel            5233   4968.0
leo                4869   4781.0
lucas              4763   3657.0
raphael            4594   4551.0

## Passé

In [49]:
target_year = 1991
nb_annees = 3
n_display = 50
df_last_years = df_nat[(df_nat.annais.isin([year for year in range(target_year - 1, target_year + 2)])) & (df_nat.sexe == 1)]
df_last_years.groupby(['preusuel']).agg({'nombre' : sum}).sort_values(by='nombre', ascending=False).head(n_display)

                nombre
preusuel
kevin            37396
thomas           29391
_prenoms_rares   26376
nicolas          26075
alexandre        26032
julien           25991
maxime           24970
anthony          23019
romain           21620
florian          20039
jeremy           19968
guillaume        19878
benjamin         18088
jonathan         15763
pierre           15740
clément          15044
quentin          15002
vincent          15001
antoine          14527
mathieu          14342
adrien           12431
damien           12152
alexis           11984
sébastien        11970
david            11949
mickael          11173
valentin          9948
loïc              9144
aurélien          8599
jordan            8341
matthieu          8220
florent           8103
arnaud            7757
cedric            7674
rémi              7452
benoît            7328
christopher       7094
fabien            6979
simon             6932
paul              6420
baptiste          6398
jerome            6346
ludovic           6333
thibault          6217
françois          6129
geoffrey          5972
sylvain           5836
christophe        5665
cyril             5644
bastien           5536